.contact-card {
  color: #d4cd96;
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 1.5s cubic-bezier(0.49, 0.23, 0.58, 0.49);
  transition-timing-function: ease-in-out;
}
.contact-card.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.contact-card-front, .contact-card-back {
  backface-visibility: hidden;
  background: repeating-linear-gradient(135deg, #046380, transparent 1px, #002F2F 2px);
  background-size: 3px 3px;
  background-color: #302f34;
  border-radius: 1px;
  box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, .1), 0px 6px 8px 0px rgba(0, 0, 0, .1), 6px 0px 8px 0px rgba(0, 0, 0, .1), -6px 0px 8px 0px rgba(0, 0, 0, .1);
  cursor: pointer;
  height: 100%;
  left: 0;
  padding: 5%;
  position: absolute;
  top: 0;
  width: 100%;
}
.contact-card-back {
  transform: rotateY(180deg);
}
.contact-card-back .layer {
  background: repeating-linear-gradient(135deg, #A7A37E, transparent 1px, rgba(76, 71, 31, .3) 2px);
  background-size: 3px 3px;
  background-color: #d4cd96;
  color: #302f34;
  height: 100%;
  position: relative;
  width: 100%;
}
.contact-card-back .layer:after {
  background: linear-gradient(135deg, rgba(0, 0, 0, .2), transparent);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.contact-card-back .layer .top, .contact-card-back .layer .bottom {
  position: relative;
  z-index: 1;
}
.contact-card-back .layer .top {
  top: 12%;
}
.contact-card-back .layer .bottom {
  bottom: 12%;
}
.contact-card-back .layer h2, .contact-card-back .layer h3, .contact-card-back .layer h4 {
  font-weight: 400;
  margin: 2px 0;
}
.contact-card-back .layer h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-card-back .layer h3 {
  font-size: 16px;
}
.contact-card-back .layer h4 {
  font-size: 16px;
  font-style: italic;
}
.contact-card-front .layer {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.contact-card-front .layer h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 auto;
  padding: 6px 18px 4px;
  text-align: center;
}

.contact-card-front .layer h2 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 6px 18px 4px;
  text-align: center;
}

.contact-card-front .layer .corner {
  backface-visibility: hidden;
  border-right: 1px solid #d4cd96;
  border-top: 1px solid #d4cd96;
  height: 15px;
  position: absolute;
  width: 15px;
}
.contact-card-front .layer .corner:nth-of-type(1) {
  right: 0;
  top: 0;
}
.contact-card-front .layer .corner:nth-of-type(2) {
  left: 0;
  top: 0;
  transform: rotateZ(-90deg);
}
.contact-card-front .layer .corner:nth-of-type(3) {
  bottom: 0;
  left: 0;
  transform: rotateZ(180deg);
}
.contact-card-front .layer .corner:nth-of-type(4) {
  bottom: 0;
  right: 0;
  transform: rotateZ(90deg);
}
.contact-card-wrapper {
  height: 271.76471px;
  max-width: 420px;
  perspective: 600px;
  position: relative;
  width: 100%;
  transition: transform 1s;
}

.contact-card-back .social-link {
  display: block;
  position: relative;
  z-index: 1;
  
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #046380;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.contact-card-back .social-link i {
  color: #d4cd96;
}

.contact-card-back .social-link:hover {
  background-color: #124858;
  transform: scale(1.15);
  text-decoration: none;
}

/* Tooltip */
.tooltip > .tooltip-inner {
  background-color: #124858;
}
.tooltip .arrow:before {
  border-top-color:#124858;
  }

/* Initial card animation */
.animated {
  animation-name: fadeInUp;
  animation-duration: 1.6s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}