$primary-color: #444444;
$secondary-color: #999999;
$tertiary-color: #aaaaaa;

body,
html {
  width: 100%;
  height: 100%;
}
html{
  background-color: #26251D;
}

body {
  font-family: 'Source Sans Pro';
  /* Disable scrolling at first */
  /* overflow: hidden; */
  max-width: 1950px;
  margin: 0 auto !important;
  float: none !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* Above fold */

.above-fold {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  .main {
      .primary-info {
          width: 100%;
          margin-left: 44px + 15px;
      }
  }

  .contact-info .row {
      height: 44px;
      margin: 0;
  
      display: flex;
      flex-direction: row;
  
      &:hover {
  
          .text {
              text-decoration: underline;
          }
  
      }
  
      .text {
          flex-grow: 1;
          height: 100%;
  
          border-bottom: 1px solid $tertiary-color;
          border-left: 1px solid $tertiary-color;
  
          padding: 0 5px 0 15px;
          line-height: 44px;
      }
  
      .icon img {
          height: 20px;
          width: 20px;
          margin: 12px;
      }
  }
}


@media (min-width: 512px){
}

@media (min-width: 992px) {
  .above-fold {
    height: 100vh;
  }
}

/* Footer */

footer.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#023342), to(black));
  background: linear-gradient(180deg, #023342 0%, black 100%);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* General styling */

a {
  color: #1D809F;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.bg-primary {
  background-color: #023342 !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-tertiary {
    color: $tertiary-color !important;
}

.uppercase {
    text-transform: uppercase;
}

/* Remove dotted outline in Firefox */
a:focus {
  outline: none;
}