body,
html {
  width: 100%;
  height: 100%;
}
html{
  background-color: #26251D;
}

body {
  font-family: 'Source Sans Pro';
  /* Disable scrolling at first */
  overflow: hidden;
  /* Fix flickering elements during arrow transitions */
  -webkit-backface-visibility: hidden;
  max-width: 1950px;
  margin: 0 auto !important;
  float: none !important;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background-color: #E6E2AF;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}


.scroll-to-top {
  z-index: 1000;
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: rgba(255, 255, 255, 0.9);
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

/* Above fold */

.above-fold {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#023342));
  background: linear-gradient(180deg, #000000 0%, #023342 100%);
  /* , url("../img/bg-above-fold.jpg") */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  color: #FCFFF5;
}

.above-fold h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 512px){
  .above-fold h1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .above-fold {
    height: 100vh;
  }
  .above-fold h1 {
    font-size: 4.5rem;
  }
}

.scroll-arrow {
  display: none;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.49, 0.23, 0.58, 0.49);
  transition: -webkit-transform 1s cubic-bezier(0.49, 0.23, 0.58, 0.49);
  transition: transform 1s cubic-bezier(0.49, 0.23, 0.58, 0.49);
  transition: transform 1s cubic-bezier(0.49, 0.23, 0.58, 0.49), -webkit-transform 1s cubic-bezier(0.49, 0.23, 0.58, 0.49);
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  position: absolute;
  bottom: 40px;
}

.scroll-arrow:hover {
  color: #E6E2AF;
}

@media only screen and (max-width: 992px) {
  .scroll-arrow {
    bottom: 25px;
  }
}
@media only screen and (min-width: 1920px) {
  .scroll-arrow {
    bottom: 100px;
  }
}

/* Navigation */
#mainNav {
  display: none;
  position: absolute;
  border-bottom: 1px solid transparent;
  background: transparent;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  margin-right: 0px;
  color: rgba(255, 255, 255, 0.9);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
}

/* Align dropdown menu items to the right */
#mainNav ul {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-bottom: 1px solid #26251D;
    background-color: rgba(38, 37, 29, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}


/* Technologies */

.tech {
  /* PLEASE LOOK */
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  will-change: height;
}


/* Projects */

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  min-height: 320px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

/* Scale SVGs */
.portfolio-item img {
  width: 100%;
  height: 100%;
}
/* Crop and center PNGs */
.png {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    -webkit-transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(2, 51, 66, 0.7);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

/* Skill circles */

.skill-icon {
  background-color: #EFECCA;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 3.5rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

/* Footer */

footer.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#023342), to(black));
  background: linear-gradient(180deg, #023342 0%, black 100%);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

/* General styling */

a {
  color: #1D809F;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  font-size: 1.5rem;
  background-color: #c48206;
  border-color: #ba9106;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #c46206 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
  background-color: #023342
}

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #023342 !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
  margin-bottom: 1rem !important;
}

.text-tertiary {
  color: #bb8f00 !important;
  margin-bottom: 1rem !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

/* Remove dotted outline in Firefox */
a:focus {
  outline: none;
}